* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --fontheader: myfont;
}

@font-face {
  font-family: myfont;
  src: url(fonts/Vazir-Medium.woff2);
}
@media only screen and (max-width: 599px) {
  .links {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items: flex-end;
    position: absolute;
    padding: 2rem;
    top: 0;
    left: 0;
  }

  .links a {
    padding: 2rem;
  }

  a {
    color: #000;
    font-family: var(--fontheader);
    font-size: 0.85rem;
    font-weight: 500;
    text-decoration: none;
  }
  li {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  .headerr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0px 4px 12px #0000001f;
  }
  .login a {
    color: #3e8df7;
    font-family: var(--fontheader);
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: center;
  }
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  }

  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  }

  .hamber-menu a {
    color: #3e8df7;
  }

  .exit {
    display: flex;
    padding-top: 1rem;
    justify-content: flex-end;
  }

  .menu {
    display: none;
  }

  .drowp {
    display: flex;
    padding: 2rem;
  }

  .containar2 {
    background: linear-gradient(215.92deg, #ffffff 21.89%, #e2f0fd 79%);
  }
  .section1 {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .azkibold {
    padding: 2rem;
    color: #555559;
    font-family: var(--fontheader);
    font-size: 2rem;
    font-weight: 900;
    line-height: 3rem;
    letter-spacing: 0em;
    text-align: center;
  }

  .text2 {
    color: #000000;
    font-family: var(--fontheader);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.56rem;
    letter-spacing: 0em;
    text-align: center;
  }

  .text3{

font-family:var(--fontheader);
font-size:1.33;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: center;

  }
}
