* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 360px;
  height: 64px;
  position: fixed;
  color: #000;
}

.links li{
  display: flex; 
  padding: 16px 144px 16px 144px;
  justify: space-between;
  flex-direction: row;
  background-color: blue;
}
