* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 360px;
  height: 64px;
  position: fixed;
  color: #000;
}

.links a {
  padding: 16px,144px 16px 144px;
  background-color: blue;
  color: #fff;
}
