*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header{
	display: flex;
width: 1440px;
height: 72px;
top: -8433px;
position: fixed;
	color: #000;
left: -7052px;
padding: 16px 144px 16px 144px;
justify: space-between; */

}
