* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.links {
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
  padding: 16px, 144px, 16px, 144px;
  background-color: blue;
  color: #fff;
}

.link a{
    list-style: none;
}
